<ion-header>
  <ion-toolbar>
    <ion-title text-center>Q-min</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <h5 text-center>Register</h5>


  <ion-list class="center">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="l_name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">email address</ion-label>
      <ion-input [(ngModel)]="l_email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="l_password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confim Password</ion-label>
      <ion-input [(ngModel)]="l_con_password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-datetime [(ngModel)]="dob" display-format="MMM DD YYYY "></ion-datetime>
    </ion-item>
    <ion-item>

      <ion-label>Sex</ion-label>
      <ion-select [(ngModel)]="sex" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>

    </ion-item>
  </ion-list>


  <ion-button class="center" expand="full" shape="round" color="light" (click)="signup()">
    Register
    <ion-icon slot=end name="arrow-round-forward"></ion-icon>
  </ion-button>











</ion-content>